
@media screen and (min-width: 480px) and (max-width: 767px) {
  .slider-agnesi{
    height: 400px;
    background-size: 100% 100%;
  }
  .header .ListMenu li{
    padding: 5px 10px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .slider-agnesi{
    height: 400px;
  }
}
